body{
    background: url("../img/mr.jpg");
    background-size: cover;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    color: #FFF;
}

.título-nome {
    font-weight: bold;
    color: #FFF;
    font-size: 24px;
}

.biografia {
    font-style: italic;
}

.card-personagem {
    cursor: pointer;
}

.maispersonagens {
    color: cornsilk;
}
  
